{% extends "layout.html" %}

{% block content %}
    <body bgcolor="#E6E6FA">

        <h2><u>{{ title }}</u></h2>
        <h3>{{ message }}</h3>

        <p>My name is Ofek Ron and I live in Tel Aviv, Israel.</p>
        <p>I go to school at <a href="http://www.tichonet.com/BRPortal/br/P100.jsp" target="_blank"> Tichonet</a> and learn Data Science as part of my studies and my finals.</p>
        <p>I like all kinds of sports, soccer, basketball, football, running, and many more. I also like video games, hanging around with friends and sleeping, of course.</p>
        <p>I made this project because I like the NBA and Data Science so I decided to make a flask project that is able to compare NBA players using in-game stats, based upon user request.</p>

        <img src="{{ Me }}" width="330" height="400" />
        <br />
        <br />

        <div class="row my-grid-borders">
            <table class="table table-striped heb">
                <tbody>
                    <tr>

                        <td>Link to the project's specification document:</td>
                        <td><a class="btn btn-primary heb" href="https://docs.google.com/document/d/1YnDUWHCgxHNPrzq2P3PAlSIaaEaUpBMYKCmxkZT8pss/edit?usp=sharing" target="_blank">Go &raquo;</a></td>

                    </tr>
                    <tr>

                        <td>Link to the project's GitHub code:</td>
                        <td><a class="btn btn-primary heb" href="https://github.com/ofek1ron/FinalProject/tree/master/NewProject/NewProject" target="_blank">Go &raquo;</a></td>
                    
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
        {% endblock %}
<br />
<br />