{% extends "layout.html" %}

{% block content %}

<h2><u>{{ title }}</u></h2>

<address>
    <strong>Name: </strong>Ofek Ron<p></p>
    <strong>Gmail: </strong><a href="mailto:ofek1ron@gmail.com" target="_blank">ofek1ron@gmail.com</a><p></p>
    <strong>Instagram: </strong><a href="https://www.instagram.com/ofekron_/" target="_blank">@ofekron_</a><p>Fell free to follow me :)</p>
    <strong>Location: </strong>Tel Aviv, Israel<p></p>
    <strong>School: </strong><a href="http://www.tichonet.com/BRPortal/br/P100.jsp" target="_blank">Tichonet</a><p></p>
</address>

<img src="https://usathoopshype.files.wordpress.com/2018/12/demar_derozan_phone1.jpg?w=1000&h=701" height="400" width="568"/>

{% endblock %}
