{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>NBA <img src="https://cdn.freebiesupply.com/images/large/2x/nba-logo-transparent.png" height="100" width="50" /></h1>
    <h4>The National Basketball Association (NBA) is a men's professional basketball league in North America, composed of 30 teams (29 in the United States and 1 in Canada). It is one of the four major professional sports leagues in the United States and Canada, and is widely considered to be the premier men's professional basketball league in the world.</h4>
    <h4>The league was founded in New York City on June 6, 1946, as the Basketball Association of America (BAA). The name was later changed to the National Basketball Association (NBA) on August 3, 1949.</h4>
    <h4>The final version of my project will be able to compare multiple current and former NBA players, and will show a chart that contains in-game stats upon user request.</h4>
    <h4>To use the Query option, please register for the site and login with your account details.</h4>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="https://cdn.theathletic.com/app/uploads/2018/01/26040113/GettyImages-695389370-1024x683.jpg" height="250" width="375">
    </div>
    <div class="col-md-4">
        <img src="https://miro.medium.com/proxy/0*oTRFAOGOjyDwrSNA" height="250" width="375">
    </div>
    <div class="col-md-4">
        <img src="https://miro.medium.com/proxy/0*pPqMk344oOURRBNU.jpg" height="250" width="375">
    </div>
</div>

{% endblock %}
